p, div {
     font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 650px) {
     img.image {
          display: none;
     }
     div.left {
          display: block;
          justify-content: center;
          width: auto;
     }
     div.right {
          width: auto;
          display: block;
          text-align: center;
     }
     div.flex-item {
          width: 60%;
          height: 10rem;
     }
     div.flex-container {
          flex-direction: column;
     }
}

.flex-container {   
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-evenly;
     align-content: space-between;   
}

.flex-item {
     background-color: #ADD8E6;
     width: 240px;
     margin-top: 20px;
     height: 12rem;
     border-style: solid;
     border-radius: 10px;
     border-width: 2px;
     font-size: small;
     word-break: normal;
     align-content: center;
}

.left {
     width: 33%;
     justify-content: left;
     display: inline-block;
     text-align: center;
}

.right {
     width: 60%;
     display: inline-block;
     justify-content: right;
}

#header1 {
     text-align: center;
     height: 6em;
     background-color: #ADD8E6;
     border-style: solid;
     border-radius: 10px;
     border-width: 2px;
     margin-bottom: 1em;
}

#hire, #fire {
     font-family: 'Montserrat', sans-serif; 
     font-size: 1.7rem; 
     padding-left: 2em;
     padding-right: 2em;
}

.foot {
     background-color: #ADD8E6;
     border-style: solid;
     border-radius: 10px;
     border-width: 2px;
     width: 90%;
     height: fit-content;
     margin-right: 5%;
     margin-left: 5%;
     margin-bottom: 0;
     margin-top: 1em;
     padding: 1rem;
     height: 10em;
}

#button {
     background: none;
     border: none;
}

#search {
     border-radius: none;
}

.head2 {
     font-size: 1.2rem;
}

.image {
     width: 50px;
     display: inline-block;
}

#about {
     box-sizing: content-box;
     float: left;
     width: 50%;
     margin-right: 3em;
     text-align: justify;
     padding: 0 1em 1em 1em;
}

#contact {
     text-align: center;  
     text-align: right;
     padding-right: 1em;
     padding-right: 1em;
}

.p1 {
     margin-bottom: -1rem;
}

